.sideNavbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 5rem;
  height: 100vh;
  background-color: #23232e;
  font-size: 20px;
  overflow: scroll;
  /*topby2layers*/
  z-index: 2;
  transition: all 0.6s ease;
}

.sideNavbar:hover {
  width: 16rem;
}

.navLi {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navLi li {
  height: 60px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navTab:last-child {
  margin-top: auto;
}

.navLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: white;
  filter: grayscale(100%) opacity(0.7);
}

.navTab:hover {
  filter: grayscale(0%) opacity(1);
  background: #141418;
  cursor: pointer;
}

.navSpan {
  display: none;
  margin-left: 1rem;
  transition-delay: .2s;
  transition: all 0.6s ease;
}

.sideNavbar:hover .navSpan {
  display: block;
}

.navTog {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
  color: white;
  background: #141418;
}

#togIcon {
  transform: rotate(0deg);
  transition: all 0.6s ease;
}

.sideNavbar:hover #togIcon {
  margin-left: 1rem;
  transform: rotate(-180deg);
}
